@font-face {
   font-family: 'LostaMasta-Thin';
   font-display: swap;
   src: url('LostaMasta-Thin/font.ttf');
}
@font-face {
   font-family: 'BELLI';
   font-display: swap;
   src: url('BELLI/font.TTF');
}
